<body>
     <div class="row">
         <div class="col-xs-12 col-sl-2 col-md-2 col-lg-2" id="titulo1">
            <h2>Max Dalt</h2>
            </div>
         <div class="col-xs-12 col-sl-2 col-md-2 col-lg-2" id="titulo">
            <h1>Conóceme</h1>
            </div>
                <div class="col-xs-12 col-sl-2 col-md-2 col-lg-2" id="imagen">
            <img src="../../../assets/photo.jpg" id="photo">
        </div>
     </div>
     <div class="row">
         <div class="col" id="estudios">
             <ul>
                 <li>
                 <div class="col-xs-12 col-sl-8 col-md-8 col-lg-8">
                 <p id="nombre">A cerca de mi</p>
                </div>
                 </li>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Consequatur praesentium saepe tempore blanditiis non libero quas, 
                 dignissimos nulla ea fuga commodi quaerat possimus exercitationem id ad, 
                 vel minus obcaecati ipsa.
                </p>
             </ul>
         </div>
     </div>
 </body>