<div class="col-flex">
    <div class="row">
        <div>
            <img src="../../../assets/APLogo.png" id="logoAP" class="logo">
            <div class="socialContainer">
                <a href=""><img src="../../../assets/facebook.png" id="facebook" class="social"></a>
                <a href=""><img src="../../../assets/github.png" id="github" class="social"></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram" class="social"></a>
                <a href=""><img src="../../../assets/linkedin.png" id="linkedin" class="social"></a>
                <a href=""><img src="../../../assets/twitter.png" id="twitter" class="social"></a>
            </div>
        </div>
    </div>  
</div>
