<body>
    <div class="col">
        <div class="row">
            <div class="col-xs-12 col-sl-2 col-md-4 col-lg-4" id="titulo">
                <h1>Mi Experiencia</h1>
            </div>
            <div class="col-xs-12 col-sl-2 col-md-6 col-lg-6" id="imagen">
                <img src="../../../assets/fondos/fondo7.png" id="fondo9"> 
                
            </div>
        </div>
        <div class="row">
            <div class="col" id="estudios">
                <ul>
                    <li>
                        <div class="col-xs-12 col-sl-2 col-md-6 col-lg-6">
                            <p id="nombre">Trabajo 1</p>
                        </div>
                    </li>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Consequatur praesentium saepe tempore blanditiis non libero quas, 
                    dignissimos nulla ea fuga commodi quaerat possimus exercitationem id ad, 
                    vel minus obcaecati ipsa.</p>
                </ul>
                <ul>
                    <li>
                        <div class="col-xs-12 col-sl-2 col-md-6 col-lg-6">
                            <p id="nombre">Trabajo 2</p>
                        </div>
                    </li>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et sequi laboriosam, delectus itaque dolorem unde libero totam, a velit quasi sunt atque necessitatibus. Eligendi ratione eum adipisci odit sit!</p>
                </ul>
                <ul>
                    <li>
                        <div class="col-xs-12 col-sl-2 col-md-6 col-lg-6">
                            <p id="nombre">Trabajo 3</p>
                        </div>
                    </li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates rem impedit a consequuntur asperiores quia unde at perferendis sequi cumque veritatis totam aliquid commodi, quam facere itaque, aspernatur dolor! Corporis.</p>
                </ul>
            </div>
        </div>
    </div>
</body>