.header{
     background-image: url(../src/assets/fondos/fondo2.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}